<mat-grid-list cols="3" rowHeight="1:1.3">
  <div *ngFor="let czlowiek of posts">
    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{czlowiek.imie}} {{czlowiek.nazwisko | uppercase}}</mat-card-title>
          <mat-card-subtitle>{{czlowiek.umiejetnosci}}, {{czlowiek.wiek}} lat</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/{{czlowiek.zdjecie}}" alt="Foto sławnych ludzi">
        <mat-card-content>
          <p>
            {{czlowiek.opis | slice:0:300}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <!-- <form class="example-form"> -->
      <mat-form-field class="example-full-width">
        <mat-label>Człowiek nazwisko:</mat-label>
        <input matInput [(ngModel)]='czlowiek.nazwisko' placeholder="podaj nazwisko:">
      </mat-form-field>
      <!-- </form> -->

    </mat-grid-tile>
  </div>


</mat-grid-list>
